.container {
    text-align: center;

}

.title {
    margin-top: 50px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span{
    color: #a371f7;
    padding-left: 15px;
}

.reset{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 18px;
    color: #26ffcd;
    margin-top: 15px;
    margin-bottom: 50px;
}

.boxes{
    display: flex;
    height: 100px;
    width: 100px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    height: 350px;
    width: 320px;
    display: flex;
    margin: auto;
}

.boxes img {
    margin: 10px 10px;
}